<h2 class="screen-align">Createtest</h2>
<div id="template-iw7o" class="gjs-row">
    <div id="template-ib2a" class="gjs-cell">
        <label id="template-i8bz" class="label ">
            <div id="template-iuq3g" class="">Name</div>
        </label>
        <input id="template-iz7t" [(ngModel)]="testapp.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
        <button id="template-i35zg" class="button btn btn-primary ">
            <div id="template-ifqhj" class="">Create</div>
        </button>
    </div>
    <div id="template-ieo3" class="gjs-cell">
        <label id="template-iozk" class="label ">
            <div id="template-i6ptc" class="">Description</div>
        </label>
        <input id="template-ifih" [(ngModel)]="testapp.field" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
    </div>
</div>