<h2 class="screen-align">Createtickets</h2>
<div id="template-izkt" class="gjs-row">
    <div id="template-ie7s" class="gjs-cell">
        <label id="template-i703" class="label ">
            <div id="template-i4ptm" class="">Name</div>
        </label>
        <input id="template-iprx" [(ngModel)]="tickets.name" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
        <button id="template-i2hxn" (click)="GpCreate()" class="button btn btn-primary ">
            <div id="template-ifvg7" class="">Create</div>
        </button>
    </div>
    <div id="template-iujj" class="gjs-cell">
        <label id="template-i9wg" class="label ">
            <div id="template-iur9z" class="">Description</div>
        </label>
        <input id="template-ieit" [(ngModel)]="tickets.description" [ngModelOptions]="{standalone: true}"
        ngDefaultControlclass="input form-control " />
    </div>
</div>
<div name="grid_template-ijiz2" id="template-ijiz2" (click)="GpGetAllValues()">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid"
    class="ag-theme-balham" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="paginationPageSize"
    [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)" domLayout='autoHeight'></ag-grid-angular>
</div>
<div id="myGrid" class="ag-theme-alpine "></div>